.points {
    font-size: 80px;
    font-weight: 600;
}

.card1 {
  padding: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5;
  background: rgba(255, 255, 255, 0.836);
  box-shadow: 0 2px 20px rgba(182, 178, 178, 0.781);
  border-radius: 30px;
  margin: auto;
  margin-top: 8%;
  opacity: 70%;
  width: 82%;
  max-height: 828px;
}

.card2 {
    opacity: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 3em;
    padding-left: 3em;
    width: 100%;
    background-color: white;
    box-shadow: 1px 5px 10px rgba(182, 178, 178, 0.781);
    border-radius: 30px;
    transition: box-shadow 250ms ease-in-out;
}

.card2:hover, .card3:hover {
    box-shadow: 1px 5px 10px #181818a8;
}

.card3 {
    align-self: center;
    justify-self: center;
    width: 100%;
    margin-bottom: 70%;
    background-color: white;
    border-radius:  40px;
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 5px 10px rgba(182, 178, 178, 0.781);
    transition: box-shadow 250ms ease-in-out;
}

.col-md-3 {
    position: relative;
    display: grid;
}


.winner, .loser {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 6px;
    text-decoration: underline;
    font-weight: 100;
    text-shadow: 2px 2px 5px #15b9ff;
    transition: opacity 250ms ease-in-out;
    opacity: 0;
    margin-bottom: 60px;
}

.winner {
    color: #0e7faf;
}

.loser {
    color: rgb(131, 1, 1);
}

.winner.result {
    opacity: 1;
}

.loser.result {
    opacity: 1;
}


p.slider-pointer {
    font-size: large;
}

.question {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #053C5E;
}

.points-text {
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    opacity: 0.7;
    margin-bottom: 20px;
    color: rgb(59, 59, 59);
}

.btn-switch {
    margin-bottom: 30px;
}

.coin-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inputCoins {
    margin-left: 150px;
    margin-right: 150px;
}

.sliderPercentage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

#slider-pointer{
    color: rgba(255, 0, 0, 0.699);
}

.higherLower{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button-lower{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button-higher{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
