html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.points {
    font-size: 80px;
    font-weight: 600;
}

.game {
    display: flex;
    width: 100%;
    /* height: 70vh; */
    /* margin-top: 4%; */
    margin: auto;
    /* margin-top: 70px; */
}

.gcard1 {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5;
    background: rgba(255, 255, 255, 0.836);
    box-shadow: 0 2px 20px rgba(182, 178, 178, 0.781);
    border-radius: 30px;
    margin: auto;
    opacity: 70%;
    width: 100%;
    /* max-height: 828px; */
    /* min-width: 702.59px; */
    max-width: 1100px;
    justify-content: space-around;
    flex-direction: row;
}

.gcard2 {
        /* opacity: 100%; */
        padding-top: 2em;
        padding-bottom: 2em;
        padding-right: 3em;
        padding-left: 3em;
        /* min-width: 654px; */
        /* max-width: 700px; */
        background-color: white;
        box-shadow: 1px 5px 10px rgba(182, 178, 178, 0.781);
        border-radius: 30px;
        transition: box-shadow 250ms ease-in-out;
}

.gcard2:hover, .gcard3:hover {
    box-shadow: 1px 5px 10px #181818a8;
}

.gcard3 {
    width: 230px;
    text-align: center;

    background-color: white;
    border-radius:  40px;
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 1px 5px 10px rgba(182, 178, 178, 0.781);
    transition: box-shadow 250ms ease-in-out;
}

.col-md-3 {
    position: relative;
    display: grid;
}


.winner, .loser {
    position: absolute;
    /* bottom: 0px; */
    /* left: 0px; */
    /* right: 0px; */
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 6px;
    text-decoration: underline;
    font-weight: 100;
    text-shadow: 2px 2px 5px #15b9ff;
    transition: opacity 250ms ease-in-out;
    opacity: 0;
    margin-bottom: 60px;
}

.winner {
    color: #0e7faf;
}

.loser {
    color: rgb(131, 1, 1);
}

.winner.result {
    opacity: 1;
}

.loser.result {
    opacity: 1;
}

.coin-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: inherit;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    border-color: #804d809d;
    outline: none;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.coin-input:focus {
    border-color: #ad6da6;
    box-shadow: 1px 5px 10px rgba(182, 178, 178, 0.781);
}

p.slider-pointer {
    font-size: large;
}

.question {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #053C5E;
}

.points-text {
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    opacity: 0.7;
    margin-bottom: 20px;
    color: rgb(59, 59, 59);
}

.btn-switch {
    margin-bottom: 20px;
}

.coin-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inputCoins {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    padding-bottom: 0px;
    height: 37.53px;
}

.sliderPercentage{
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

#slider-pointer{
    color: rgba(255, 0, 0, 0.699);
}

.higherLower{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button-lower{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button-higher{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
