.leaderboard {
    width: 100%;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    height: 100%;
}


.player-position {
    width: 100%;
}

.players {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    width: 300px;
}

.p {
    display: flex;
    justify-content: center;
}

.playername1, .playerscore1, .playerlevel1 {
    border-color: #2c3d50;
    border-bottom: dotted;
}

.player1,.player2 {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 2px;
}