.jumbotron.themer{
    background: linear-gradient(to right, #3f3066, #9e7888);
    border:ridge;
    border-color: #9893DA;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.card1.themer {
    background:  linear-gradient(to right, #12c2e95b, #c471ed, #f64f5a52);
}

body.themer {
    background: linear-gradient(to left, #642b73,#9e7888, #c6426e);
}

.cardd.themer, .cardd-body.themer, .carddd.themer{
    background-color: #715678;
}

.card.themer {
    background: #9893DA;
}

.card:hover.themer{
    box-shadow: 1px 5px 10px #9893daa8;
}

.list-group.themer{
    color: white;
}

.card-body.themer{
    background-color: #715678;
}

.list-group-item.themer {
    background-color: #715678;
}

.buttons:hover.themer {
    background-color: #9893DA;
}

.buttons-active.themer {
    background-color: #9893DA;
}

.white.themer{
    color: rgb(177, 177, 177);
}

.head.themer {
    color: rgb(247, 247, 247);
}

.purple.themer{
    color: #ebebeccc;
}





