.jumbotron.themer{
    background: linear-gradient(to right, #3f3066, #9e7888);
    border:ridge;
    border-color: #9893DA;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.carddd.themer {
    border-radius: 30px;
}

body.themer {
    background: linear-gradient(to left, #642b73,#9e7888, #c6426e);
    max-height: 100%;
}

.cardd.themer, .cardd-body.themer, .carddd.themer{
    background-color: #a76d83;
}

.card.themer {
    background: #9893DA;
}

.list-group.themer{
    color: white;
}

.list-group-item.themer {
    border: 0px solid rgba(255, 255, 255, 0.555);
}

.card-body.themer{
    background: #a76d83;
}

.list-items.themer {
    background-color: #a76d83;
}

.buttons:hover.themer {
    background-color: #9893DA;
}

.buttons-active.themer {
    background-color: #9893DA;
}

.white.themer{
    color: rgb(216, 216, 216);
}

.head.themer {
    color: rgb(247, 247, 247);
}

.purple.themer{
    color: rgba(243, 243, 243, 0.904);
}





